:root{
    --back-1:#131313;
    --back-2:#1F1F1F;
    --back-3:#2B2B2B;
    --back-4:#3B3B3B;
    --back-5:#4A4A4A;

    --fore-1:#FFFFFF;
    --fore-2:#E6E6E6;
    --fore-3:#CCCCCC;
    --fore-4:#B3B3B3;
    --fore-5:#999999;

    --button:#bebebe;
    --button-selected:#d7d7d7;
    --button-hover:#e9e9e9;

    --red:#8A3D29;
    --blue:#23448A;
    --green: #4A8A40;
    --yellow: #8A8A23;

    --back-graphic:
    radial-gradient(calc(1.28*30px + 11.25px/2) at left 50% bottom calc(-.8*30px),#1d1d1d calc(100% - 11.25px),#000000 calc(101% - 11.25px) 100%,#0000 101%) calc(2*30px) calc(-1*calc(1.5*30px + 11.25px)),
    radial-gradient(calc(1.28*30px + 11.25px/2) at left 50% bottom calc(-.8*30px),#101010 calc(100% - 11.25px),#000000 calc(101% - 11.25px) 100%,#0000 101%) calc(-1*30px) calc(calc(1.5*30px + 11.25px)/-2),
    radial-gradient(calc(1.28*30px + 11.25px/2) at left 50% top    calc(-.8*30px),#101010 calc(100% - 11.25px),#000000 calc(101% - 11.25px) 100%,#0000 101%) 0 calc(1.5*30px + 11.25px),
    radial-gradient(calc(1.28*30px + 11.25px/2) at left 50% top    calc(-.8*30px),#1d1d1d calc(100% - 11.25px),#000000 calc(101% - 11.25px) 100%,#0000 101%) 30px calc(calc(1.5*30px + 11.25px)/ 2),
    linear-gradient(#1d1d1d 50%,#101010 0);


}