
.main {
  font-size: 15px;
  background-color: var(--back-1);;
  color: var(--fore-1);
  flex:1;
  display: flex;
  flex-direction: column;
}

.datalabel {
  --roundness: 1em;
  display: inline-block;
  width: 8%;
  min-width: 5.5em;
  line-height: 1.2em;
  font-size: 1em;
  color: #000000;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  padding-left:0.5em;
  padding-right: 0.5em;

  border-top-right-radius: var(--roundness);
  border-bottom-right-radius: var(--roundness);
  background-color: #b9b9b9;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

.datavalue {
  --roundness: 0.5em;
  display: inline-block;
  width: 2%;
  min-width: 1em;
  text-align: center;

  font-size: 1em;
  color: #1f1f1f;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  padding-left:0.5em;
  padding-right:0.5em;
  background-color: #eeeeee;
  border-top-left-radius: var(--roundness);


  border-bottom-right-radius: var(--roundness);
  border-color: #bbbbbb;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}


.simulated_button:hover {
  background-color: #b3b3b3;
}