
.main {
  font-size: 15px;
  height:4.5em;
  display: flex;
}

.logo{
  stroke: transparent;
  fill: var(--fore-3);
}

.header{
  width: 100%;
  /* padding: 5px;         */
  display: flex;
  background-color: var(--back-5);
  font-weight: bold;
  vertical-align: center;
}

.input{
  --roundness: 0.5em;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1em;

  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  padding-right:0.5em;

  width: 10em;
  height: 2em;


  border-radius: var(--roundness);
  border-width: 1px;
  border-color: var(--fore-4);
}

.button{
  --roundness: 0.5em;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 0.6em;

  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  padding-right:0.5em;

  background-color: var(--button);
  border-radius: var(--roundness);
  border-width: 1px;
  border-color: var(--fore-4);
}

.button:hover {
  background-color: var(--button-hover);
  transition: 250ms;
}

.new{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.upload{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.download{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.undo{
  fill:none;
  stroke:var(--back-1);
}

.redo{
  fill:none;
  stroke:var(--back-1);
}

.play{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.pause{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.settings{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.user{
  fill:var(--fore-5);
  stroke:var(--back-1);
}