.main{
  border: solid var(--fore-5);
  border-width: 1px 1px 1px 1px;
  background-color: var(--back-4);
  width:40%;
  height:40%;
  border-radius: 0.2em;
  padding: 1em;
  font-size: 1.1em;
}

.header{
  color: var(--fore-2);
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5em;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
  text-transform: uppercase;
  font-size: 1.3em;
}

.settingsRow{
  display: flex;
  margin-bottom: 0.2em;
  flex-wrap: wrap;
  justify-items:center;
  align-items:center;
}

.settingsButton{
  background-color: var(--button);
  border-radius: 0.3em;
 
  display:flex;
  flex-direction:column;
  align-items:center;

  text-align: left;
  font-size: 0.8em;
  color:var(--back-1);
  
  border: 1px solid var(--fore-3);
 
}


.settingsButton:hover{
  display: flex;
  background-color: var(--button-hover);
  color: var(--back-2);
  transition: 250ms;
}

.Flag{
  stroke-width: 0%;
}


.Sun{
  fill:var(--fore-5);
  stroke:var(--back-1);
}

.Moon{
  fill:var(--fore-5);
  stroke:var(--back-1);
}
